.container{
    margin-bottom: 50px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 15px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 9px 25px;
    cursor: pointer;
}
.card{
   border: none;
   box-shadow: 5px 5px 10px lightgray ;
   text-align: center;
}
.card-button{
    background-image: linear-gradient(to right, black, rgb(59, 57, 57));
    color: cornsilk;
    border: none;
    border-radius: 10px;
    padding: 9px 25px;
    cursor: pointer;
}
.category-1, .category-2, .category-3{
    padding: 10px 30px;
    border-radius: 20px;
}

.category-1{
   background-image: linear-gradient(to right, rgb(255, 166, 0) 0% , rgb(243, 247, 34) 100%);
}
.category-2{
    background-image: linear-gradient(to right, lightblue 0%, cyan 100%);
}
.category-3 {
   background-image: linear-gradient(to left,rgb(99, 217, 233) 0%, rgb(120, 179, 247) 100%);
}
.categories h1{
    color:darkslategray;
}
.categories img{
    width: 100px;
}
.watch{
    width: 88%;
    text-align: center;
    
}
#subscribe{
    height: 300px;
}
footer{
    text-align: center;
}